In [1]:
import pandas as pd
import csv
from collections import namedtuple

In [3]:
import requests

In [4]:
# get the response in the form of html
wikiurl="https://es.wikipedia.org/wiki/Anexo:Municipios_de_Morelos#Tabla"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [5]:
import bs4
import lxml

In [6]:
# parse data from the html into a beautifulsoup object
soup = bs4.BeautifulSoup(response.text, 'html.parser')
morelostable=soup.find('table',{'class':"wikitable"})

In [7]:
df=pd.read_html(str(morelostable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Clave INEGI[10]​    Municipio[1]​ Cabecera municipal[11]​  \
0                 1         Amacuzac                Amacuzac
1                 2     Atlatlahucan            Atlatlahucan
2                 3       Axochiapan              Axochiapan
3                 4            Ayala            Ciudad Ayala
4                 5  Coatlán del Río         Coatlán del Río

   Fecha de creación[1]​                             Toponimia[9]​[nota 1]​  \
0                   1868  Amatl «amate», koztik «amarillo», átl «agua» y...
1                   1932  Átl «agua», atlatlaul «rojo, ocre, bermejo» y ...
2                   1898  Ayoxochitl «Fruto de calabaza en flor», átl «a...
3                   1868  Nombrado así en honor del insurgente Francisco...
4                   1861  Cóatl «serpiente» y tlán «abundancia»: «Lugar ...

   Población(2020)[12]​  Área (km²)[13]​  Escudo[9]​
0                   NaN            117.2         NaN
1                   NaN             79.4         NaN
2                   NaN            141.5         NaN
3                   NaN            368.3         NaN
4                   NaN            834.0         NaN

In [134]:
with open('altitud.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f, delimiter='\t')
    headers = next(reader)
    headers = [header.strip().lower().replace(' ', '_') for header in headers]
    Row = namedtuple('Row', headers)
    morelos_altitud = []
    for row in reader:
        row = Row(*row)
        morelos_altitud.append(tuple([row.municipio, row.altitud_msnm]))
        
altitud = pd.DataFrame.from_records(morelos_altitud, columns=['Municipio', 'Altitud'])
altitud['Altitud'] = altitud['Altitud'].str.replace(',', '')
altitud['Altitud'] = altitud['Altitud'].apply(pd.to_numeric)

In [109]:
poblacion = pd.read_csv('morelospoblacion.csv')
poblacion = poblacion.loc[:,['Municipio\n​','Población\n(2020)​']]

import re

# define the regex pattern
pattern = r'\d+'

# define a function to apply the regex pattern to each element of the column
def extract_numbers(string):
    numbers = re.findall(pattern, string)
    return numbers[0] if numbers else None

# apply the function to the second column of the dataframe
poblacion['Población\n(2020)​'] = poblacion['Población\n(2020)​'].apply(extract_numbers)

poblacion.columns = ['Municipio', 'Poblacion']
poblacion['Poblacion'] = poblacion['Poblacion'].astype(int)

In [110]:
altitud.sort_values(by='Municipio', ascending=True, inplace=True)
altitud

                Municipio  Altitud
0               Amacuzac       982
1           Atlatlahucan      1656
2             Axochiapan      1030
3                  Ayala      1220
4      CoatlÃ¡n del RÃ­o      1010
5                Cuautla      1330
6             Cuernavaca      1480
7        Emiliano Zapata      1213
8             Jantetelco      1160
9               Jiutepec      1350
10    Jojutla de JuÃ¡rez       890
11           Jonacatepec      1290
12             Mazatepec       980
13            MiacatlÃ¡n      1054
14              Ocuituco      1920
15       Puente de Ixtla       900
16               Temixco      1280
17                Temoac      1760
18            Tepalcingo      1160
19            TepoztlÃ¡n      1700
20              Tetecala       980
21    Tetela del VolcÃ¡n      1920
22          Tlalnepantla      2060
23          TlaltizapÃ¡n       940
24        Tlaquiltenango       911
25            Tlayacapan      1640
26             Totolapan      1900
27            Xochitepec      1110
28              Yautepec      1210
29            Yecapixtla      1580
30  Zacatepec de Hidalgo       910
31  Zacualpan de Amilpas      1640

In [115]:
altitud.sort_values(by='Municipio', ascending=False)

                Municipio  Altitud
31  Zacualpan de Amilpas      1640
30  Zacatepec de Hidalgo       910
29            Yecapixtla      1580
28              Yautepec      1210
27            Xochitepec      1110
26             Totolapan      1900
25            Tlayacapan      1640
24        Tlaquiltenango       911
23          TlaltizapÃ¡n       940
22          Tlalnepantla      2060
21    Tetela del VolcÃ¡n      1920
20              Tetecala       980
19            TepoztlÃ¡n      1700
18            Tepalcingo      1160
17                Temoac      1760
16               Temixco      1280
15       Puente de Ixtla       900
14              Ocuituco      1920
13            MiacatlÃ¡n      1054
12             Mazatepec       980
11           Jonacatepec      1290
10    Jojutla de JuÃ¡rez       890
9               Jiutepec      1350
8             Jantetelco      1160
7        Emiliano Zapata      1213
6             Cuernavaca      1480
5                Cuautla      1330
4      CoatlÃ¡n del RÃ­o      1010
3                  Ayala      1220
2             Axochiapan      1030
1           Atlatlahucan      1656
0               Amacuzac       982

In [114]:
poblacion.sort_values(by='Poblacion', ascending=False)

                Municipio  Poblacion
6              Cuernavaca     378476
10               Jiutepec     215357
5                 Cuautla     187118
17                Temixco     122263
7         Emiliano Zapata     107053
28               Yautepec     105780
3                   Ayala      89834
27             Xochitepec      73539
11                Jojutla      57682
29             Yecapixtla      56083
19              Tepoztlán      54987
23  Tlaltizapán de Zapata      52399
16        Puente de Ixtla      40018
2              Axochiapan      39174
30              Zacatepec      36094
24         Tlaquiltenango      33789
18             Tepalcingo      28122
34              Xoxocotla      27805
1            Atlatlahucan      25232
8               Huitzilac      24515
25             Tlayacapan      19408
15               Ocuituco      19219
9              Jantetelco      18402
0                Amacuzac      17598
12            Jonacatepec      16694
32                 Temoac      16574
14              Miacatlán      15802
21      Tetela del Volcán      14853
26              Totolapan      12750
33             Coatetelco      11347
4         Coatlán del Río      10520
31              Zacualpan       9965
13              Mazatepec       9653
22           Tlalnepantla       7943
35               Hueyapan       7855
20               Tetecala       7617

In [135]:
altitud.sort_values(by='Municipio', ascending=True, inplace=True)
poblacion.sort_values(by='Municipio', ascending=True, inplace=True)

In [138]:
# clean the Municipio column in altitud dataframe
altitud['Municipio'] = altitud['Municipio'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
altitud['Municipio'] = altitud['Municipio'].str.lower().str.strip()

# clean the Municipio column in poblacion dataframe222
poblacion['Municipio'] = poblacion['Municipio'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
poblacion['Municipio'] = poblacion['Municipio'].str.lower().str.strip()

# merge the dataframes
merged_df = altitud.merge(poblacion, on='Municipio', how='inner')

In [141]:
merged_df.sort_values(by=['Poblacion', 'Altitud'], ascending=[False, False])

            Municipio  Altitud  Poblacion
6          cuernavaca     1480     378476
9            jiutepec     1350     215357
5             cuautla     1330     187118
15            temixco     1280     122263
7     emiliano zapata     1213     107053
26           yautepec     1210     105780
3               ayala     1220      89834
25         xochitepec     1110      73539
27         yecapixtla     1580      56083
18          tepoztlan     1700      54987
14    puente de ixtla      900      40018
2          axochiapan     1030      39174
22     tlaquiltenango      911      33789
17         tepalcingo     1160      28122
1        atlatlahucan     1656      25232
23         tlayacapan     1640      19408
13           ocuituco     1920      19219
8          jantetelco     1160      18402
0            amacuzac      982      17598
10        jonacatepec     1290      16694
16             temoac     1760      16574
12          miacatlan     1054      15802
20  tetela del volcan     1920      14853
24          totolapan     1900      12750
4     coatlan del rio     1010      10520
11          mazatepec      980       9653
21       tlalnepantla     2060       7943
19           tetecala      980       7617

In [142]:
merged_df.sort_values(by=['Poblacion', 'Altitud'], ascending=[True, True])

            Municipio  Altitud  Poblacion
19           tetecala      980       7617
21       tlalnepantla     2060       7943
11          mazatepec      980       9653
4     coatlan del rio     1010      10520
24          totolapan     1900      12750
20  tetela del volcan     1920      14853
12          miacatlan     1054      15802
16             temoac     1760      16574
10        jonacatepec     1290      16694
0            amacuzac      982      17598
8          jantetelco     1160      18402
13           ocuituco     1920      19219
23         tlayacapan     1640      19408
1        atlatlahucan     1656      25232
17         tepalcingo     1160      28122
22     tlaquiltenango      911      33789
2          axochiapan     1030      39174
14    puente de ixtla      900      40018
18          tepoztlan     1700      54987
27         yecapixtla     1580      56083
25         xochitepec     1110      73539
3               ayala     1220      89834
26           yautepec     1210     105780
7     emiliano zapata     1213     107053
15            temixco     1280     122263
5             cuautla     1330     187118
9            jiutepec     1350     215357
6          cuernavaca     1480     378476